body {
    background-color: white;
    margin: 0;
    font-family: monospace;
}

h1{
    text-align: center;
    color: #7A98B9;
    margin: 0;
    font-size: 30px;
    margin-top: 45px;
}

form {
    width: 450px;
    margin: auto;
    background: rgb(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    background-color: #7A98B9;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
}

#boton {
    padding: 20px;
    border-radius: 5px;
}

#boton:hover{
    cursor: pointer;
}

